<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/master.css" type="text/css">
    <title>Test EJS page</title>
</head>

<body>
    <h1>Hello EJS</h1>
    <br>

    view counter from db: <%= count %>
</body>
</html>