<header id="header">
    <div class="header pure-g">
        <div class="pure-u" >
            <br>
            <br>
            <h2>UX Prototype Lab Gallery :: CX Team</h2>
            <br>
        </div>
    </div>
</header>