<head>
    <meta charset="utf-8">
    <title>Prototype Lab::CX Team</title>
    <meta name="description" content="project site">
    <meta name="keywords" content="html5,css3,svg">
    <link rel="shortcut icon" href="image/favicon.ico">
    <link rel="stylesheet" media="all" type="text/css" href="stylesheets/layout.css">
    <link rel="stylesheet" media="all" type="text/css" href="stylesheets/main.css">
    <link rel="stylesheet" href="css/master.css" type="text/css">
    <!--<script src="js/lib/jquery-1.11.0.min.js"></script>
    <script src="js/lib/jquery.tmpl.min.js"></script>
    <script src="js/util.js"></script>-->
    <% if(js){ %><script src="js/<%= js %>"></script><% } %>
</head>